node_modules
build
.vscode
package-lock.json
/system/.env
/gateway/.env
/composer/.env
/segment/.env
/system/node_modules
/segment/node_modules
/composer/node_modules
/ui/node_modules
/gateway/node_modules